<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soft Robotics ROV</title>
    <script src="/static/p5.min.js"></script>
    <script src="/static/p5.touchgui.js"></script>
    <script>
        window.post = function (url, data) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));
        }
    </script>
    <style>
        img#view {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        canvas#defaultCanvas0 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <img id="view" src="{{ url_for('video_feed') }}">
    <script src="/static/pad.js"></script>
    <script>
        // 屏蔽右键菜单
        document.oncontextmenu = function (event) {
            if (window.event) {
                event = window.event;
            }
            try {
                var the = event.srcElement;
                if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                    return false;
                }
                return true;
            } catch (e) {
                return false;
            }
        }
    </script>
    <script>
        // 屏蔽选中
        document.onselectstart = function (event) {
            if (window.event) {
                event = window.event;
            }
            try {
                var the = event.srcElement;
                if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                    return false;
                }
                return true;
            } catch (e) {
                return false;
            }
        }
    </script>
</body>

</html>