<form method="post">
    <!-- 指定提交方法为 POST -->
    <label for="chamber1">上弯曲段腔道1</label>
    <input type="number" name="chamber1" step="10" min="0" value="{{p_dict[0]}}"><br>
    <label for="chamber1">上弯曲段腔道2</label>
    <input type="number" name="chamber2" step="10" min="0" value="{{p_dict[1]}}"><br>
    <label for="chamber1">上弯曲段腔道3</label>
    <input type="number" name="chamber3" step="10" min="0" value="{{p_dict[2]}}"><br>
    <label for="chamber1">下弯曲段腔道1</label>
    <input type="number" name="chamber4" step="10" min="0" value="{{p_dict[3]}}"><br>
    <label for="chamber1">下弯曲段腔道2</label>
    <input type="number" name="chamber5" step="10" min="0" value="{{p_dict[4]}}"><br>
    <label for="chamber1">下弯曲段腔道3</label>
    <input type="number" name="chamber6" step="10" min="0" value="{{p_dict[5]}}"><br>
    <label for="chamber1">伸长段</label>
    <input type="number" name="chamber7" step="10" min="0" value="{{p_dict[6]}}"><br>
    <label for="chamber1">手爪</label>
    <input type="number" name="hand" step="10" value="{{p_dict[9]}}"><br>
    <input type="submit" name="submit" value="OK" style="visibility: hidden;">
</form>